@mixin mobile {
  @media (max-width: #{600px}) {
    @content;
  }
}

@mixin smallerTabs {
  @media (max-width: #{900px}) {
    @content;
  }
}

.react_3d_carousel {
  padding: 20px;

  perspective: 1000px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include mobile {
    perspective: initial;
  }

  > * {
    flex: 0 0 auto;
  }

  figure {
    margin: 0;

    transform-style: preserve-3d;
    transition: transform 0.5s;

    .rc_child {
      width: 100%;
      box-sizing: border-box;

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }

      @include mobile {
        backface-visibility: hidden;
      }
    }
  }
}

.sc_btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;

  svg {
    fill: color(theme);
    width: 40px;
    height: 40px;
  }
}

.sc_btn.left {
  left: 5%;
  @include mobile {
    left: 2%;
  }
}
.sc_btn.right {
  right: 5%;
  @include mobile {
    right: 2%;
  }
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
